<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- 静的ファイル（_next/static）のルール -->
        <rule name="StaticFiles" stopProcessing="true">
          <match url="^_next/static/(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>
        
        <!-- publicフォルダの静的ファイル -->
        <rule name="PublicFiles" stopProcessing="true">
          <match url="^(.*\.(ico|png|jpg|jpeg|gif|svg|css|js|woff|woff2|ttf|eot))$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>
        
        <!-- Node.jsアプリケーションへのリダイレクト -->
        <rule name="DynamicContent">
          <match url="/*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <defaultDocument>
      <files>
        <add value="server.js" />
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin" />
          <remove segment="node_modules" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    
    <!-- 静的ファイルのキャッシュ設定とMIMEタイプ -->
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
    </staticContent>
    
    <!-- gzip圧縮の有効化 -->
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    
    <iisnode 
      nodeProcessCommandLine="node"
      logDirectory="D:\home\LogFiles\iisnode" 
      watchedFiles="*.js;web.config;iisnode.yml"
      loggingEnabled="true"
      debuggingEnabled="false" />
  </system.webServer>
</configuration>